.promo {
    display: flex;
    margin-left: auto;
    justify-content: center;
    margin-right: auto;
    background: rgba(39, 39, 39, 1);
    margin-top: 10px;
    color: #FFF;
    justify-content: space-evenly;
    width: 95%;

    border-radius: 10px;
}

.promo__wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 70px;
    margin-top: 171px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 71%;
    padding-bottom: 30px;
}

.promo__link-container {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.promo__link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    margin-top: 150px;
    width: 96px;
    height: 36px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    background: rgba(48, 48, 48, 1);
}

.promo__link:hover {
    opacity: .8;
}

@media screen and (max-width: 1279px) {
    .promo {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .promo__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
        margin-top: 364px;
    }

    .promo__link {
        margin-top: 314px;
    }
}

@media screen and (max-width: 767px) {

    .promo__wrapper {
        margin: 0;
        margin-top: 222px;
        width: 92%;
    }

    .promo__link {
        width: 77px;
        height: 26px;
        margin-top: 214px;
        padding-left: 3px;
        padding-right: 3px;
        font-size: 10px;
        line-height: 16px;
    }

    .promo__link-container {
        gap: 5px;
    }
}